.container{
    display: flex;
    width: 50% !important;
    margin: 0 auto;


}
.container1{ /*Aside container*/
    width: 80%;
    height: 130vh;
    background: #D1C8C8;
}
aside{
    display: flex;    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgb(148, 140, 128);
    width: 20%;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}
aside a{
    font-size: 0.8em;
}
.conAside img{ /*les images de ma div dans la balise Aside*/
    margin-left: 5%;
    width: 90%;
    height: 80%;
}
.TexteLiens{ /*class de mes liens dans Aside*/
    background: #D66262;
    border: 2px ridge;
    border-radius: 5%;
    padding-bottom: 1%;
    margin-top: 2%;
    Margin-bottom: 0%;
    /*align-items: center;*/
    /*width: 100px;*/
    /*height: 12vh;*/
    text-align: center;
}
.TitreH{
    display: block;
    width: 20%;
    height: 28vh;
    background-image: url("../PICS/DEV-2.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /*font-size: 10px !important;*/
    margin-left: 10%;
    
}
.TitreTexte{
    padding-top: 0%;
    padding-bottom: 2%;
    padding-left: 10%;
    font-size: 1.2em;
    
}
.TitreTexte{
    color: #8D4E4E;
 

}
.TitreTexte2, .TitreTexte3{
    color: #9BAC2F;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1em !important;
}
.Mediane{
    display: Flex;
    flex-wrap: nowrap;
    width: 77%;
    padding-top: 5%;
    padding-left: 10%;
    justify-content: space-between;
    position:relative;
    
}

.Mediane2-3{
    display: Flex;
    flex-wrap: nowrap;
    width: 77%;
    padding-top: 2%;
    padding-left: 10%;
    justify-content: space-between;
    position:relative;
    padding-bottom: 2%;
}
.Mediane4{
    display: Flex;
    flex-wrap: nowrap;
    width: 77%;
    padding-top: 2%;
    padding-left: 10%;
    justify-content: space-between;
    position:relative;
    padding-bottom: 2%;
}

.TexteMed{
    position: relative;
    width: 45%;
    display: flex;
    background: #BEB7B1;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0%;
    height: 26vh;

}
.TexteMed2-3_1{
    position: relative;
    width: 45%;
    display: flex;
    background: #BEB7B1;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0%;
    height: 4vh;
}
.TexteMed2-1{ /*style de ma div où j'ai ma pic*/
    position: absolute;
    bottom: 0%;
    left: 20%;
    /* padding-right: 1%;*/
    width: 100%;

}
.TexteMed2-1 img{ /* definition de mon image*/
    width: 80%;
    height: 80%;

}  
 
.texteMed1{
    font-size: 1em;
}
.ZonePic4{
    position: relative;
    width: 45%;
    display: flex;
    background: #BEB7B1;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0%;
    height: 60vh;
    padding: 3%;

}
.SkillsPic1{
width: 12vw;
height: 25vh;
object-fit: cover;
}
.SkillsPic21{
    width: 10vw;
    height: 15vh;
    object-fit: cover;
    
}
#Office365pic{
    width: 10vw;
    height: 13vh;
}
/*-------------Page html-Infos & Comp-------------*/
.container1_IC{ /*Aside container*/
    width: 70.1vw;
    height: 150vh;
    background: #D1C8C8;
}


.TitreH_IetC{
    display: block;
    width: 100%;
    height: 25%;
    margin-left: 5%;
    background-image: url("../PICS/DEV-2.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /*font-size: 15px;*/
    margin: 0% 0%;
    
}
.titulaireFol2{
    display: flex;    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgb(148, 140, 128);
    width: 20%;
   /* align-items: center;
    justify-content: center;*/
    font-size: 2em;
}
.MedianeIetC{
    display: Flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 2%;
    padding-left: 5%;
    position:relative;
  
}
.TexteMed-IetC{
    position: relative;
    width: 5%;
    display: flex;
    background: #BEB7B1;
    margin: 0%;
    height: 26vh;
    padding-left: 1%;

}
.icon1{
    width:2vw;
    height: 6vh;
}
.CorrectionP{
    margin-top: -1%;
    height: 45vh;

}
.Morelarge{
   /* width: 40.8vw;*/
}
.MedianeSKIetC{
    display: Flex;
    flex-wrap: wrap;
    width: 177%;
    padding-top: 0%;
    padding-left: 5%;
    position:relative;
  
}
.skillspart{
    display: flex;
    flex-direction: column;
    width: 37.5vw;
    background: #BEB7B1;
    
}
.skillspart strong{
    padding-top: 4%;
    padding-left: 12%;

}
.TexteMed2{
    width: 90%;
   
}
#Mycolor{
    background: #222279;
}
/*-------------Page Contatc--------------------------------*/
.container1_Cont{ /*Aside container*/
    width: 50%;
    height: 45vh;
   background: #D1C8C8;
}
.TexteMed-Cont img{
    Width: 85%;
    height: 27%;
    image-rendering: optimizeSpeed;
    object-fit: cover;
    margin: 5% 6%;
}
.TexteMed-Cont{
    position: relative;
    width: 40%;
    display: inline-block;
    flex-wrap: nowrap;
    background: #BEB7B1;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0%;
    height: 30vh;
    padding-top: 2% 0%;

}
.TexteMed-Cont1{
    position: relative;
    width: 50%;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    background: #BEB7B1;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    margin: 0%;
    padding: 4% 0%;

}
.texteMed1{
    font-size: 0.6em;
    padding-top: 0%;
    padding-bottom: 0;
    padding-left: 0%;
    width: 100%;
    margin: 0;
}

address{
    padding: 0% 0%;
    margin: 0% 0%;
}
.texteMed1 p{
    Margin: 0% 0%;
    width: 8vw;
    font-size: 1em;
    padding: 0 0;
}

.ElementsCont{
    display: flex;
    flex-wrap: nowrap;
    /*height: 8vh;*/
    width: 10vw;
    margin: 0% 0%;
    padding: 1% 4%;
}
.ElementsCont img{
    width: 20px;
    height: 23px;
    padding-right: 1.5%;
    object-fit:fill;
}
.email{
    text-decoration: none;
    font-weight: bold;
    height: 2vh;   
    padding-bottom: 1px;
}
.links{
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
    height: 3vh;
    margin-top: 12%;
    padding-bottom: 5%;
    padding-left: 20%;
    align-items: center;
    justify-content: space-between;
}
.links img{
    Width: 2vw;
    height: 2vh;
    image-rendering: optimizeQuality;
    object-fit:scale-down;
}
.centrage{
    display: flex;
    /*justify-content: center;*/
    padding-bottom: 15%;
}
/*-----Pour smartphone---------------------------------------*/
@media screen and (max-device-width:400px){
    .container, .MedianeIetC{
        display: block;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    .titulaireFol2{
        display: block;
        width: 100%;
        font-size: 0.4em;
    }
    .container1_Cont{
        display: block;
    
        width: 100%;
        /*margin: 2 2 2 2;*/
        height: fit-content;
        
    }
    .TitreTexte{
        font-size: 1em !important;
        text-decoration: none;
    }
    .TitreTexte2, .TitreTexte3{
        font-size: 0.7em !important;
        padding-bottom: 1%;
    }
    .TitreH_IetC{
        height:10vh;
        text-align: center;
        justify-self: center;
        background-size:cover;
        width: 100%;
        margin: 0 auto;
    }
    .TexteMed-Cont, .TexteMed-Cont1{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        align-items: center;
        /*justify-content: center;*/
        /*font-size: 0.8em;*/
    }
    

    .TexteMed-Cont img{
        Width: 90%;
        /*height: 15vh;*/
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;

    }
    .texteMed1{
        font-size: 0.8rem;
        padding-top: 1%;
        padding-bottom: 1%;
        width: 20vw;
        margin: 0 0;
    }
    b{
        padding: 0% 0%;
        margin: 0 0;
        font-size: 0.8em;
    }
    .ElementsCont img{
        width: 3vw;
        height: 2vh;
        padding: 1% 0%;
        margin: 0 0;
    }
    .ElementsCont{
        display: flex;
        flex-wrap: wrap;
        height: 10vh;
        margin: 0% 0%;
        /* justify-content: center; */
        padding: 0 0;
        width: 50vw;
    }
    address{
        width: 45vw;
        padding: 1% 1%;
        margin: 0 0;
        font-size: 1em;
    }
    .texteMed1 b{
        width: 45vw;
    }
    p{
        Margin: 0% 0%;
        width:50vw;
        font-size: 0.8em;
        padding: 0 0;
    }   
    .links{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        width: 50vw;
        margin: 0 auto;
        padding: 0;
    }
    #centrage{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        width: 50vw;
        margin: 0 auto;
    }
    
}


@media screen and (min-device-width:401px) and (max-device-width:570px){
    .container, .MedianeIetC{
        background: black;
        display: block;
        padding-left: 0;
        padding-right: 0;
        margin: 0% auto;
        width: 90%;
    }
        .titulaireFol2{
            display: block;
            width: 100%;
            font-size: 1em;
            margin: 0 auto;
            width: 100%;
        }
        .conAside{
            font-size: 0.8em !important;
            display: flex;
            align-items: center;
            justify-content: space-around;    
        }
        .container1_Cont{
            display: block;    
            width: 100%;
            /*margin: 2 2 2 2;*/
            height: fit-content;            
        }
        .TitreH_IetC{
            text-align: center;
            font-size: 0.8em !important;
            height: 10vh;
        }
        .TitreTexte2 b{
            /*padding: 0% 40% !important;*/
            margin: 0;
            padding: 0;
        }
        /*.TitreTexte{
            font-size: 0.9em !important;
            text-decoration: none;
            padding: 0;
        }*/
        /*.TitreTexte2, .TitreTexte3{
            font-size: 0.75em !important;
            padding-bottom: 0.5%;
            
        
        }*/
        /*.TitreH_IetC{
            height:12vh;
            background-size:cover;
            width: 100%;    
            margin: 0 auto;
        }*/
        .TexteMed-Cont{
            width:100%;
            display: flex;
            flex-wrap: nowrap;
            height: fit-content;
            align-items: center;
            justify-content: center;
            font-size: 1em;
        }
        .TexteMed-Cont1{
            width:45vw;
            display: flex;
            flex-wrap: wrap;
            height: fit-content;
            /*align-items: center;*/
            /*justify-content: center;*/
            font-size: 1em;
        }
        .TexteMed-Cont img{
            Width: 50%;
            /*height: 15vh;*/
            padding-top: 0.5vh;
            padding-bottom: 0.5vh;

        }
        .texteMed1{
            font-size: 0.8rem;
            padding-top: 2%;
            padding-bottom: 2%;
        }
        .texteMed1 b{
            padding-left: 10%;
        }
        .ElementsCont img{
            width: 4vw;
            height: 3vh;
            padding-left: 5%;
        }
        .ElementsCont{
            display: flex;
            flex-wrap: wrap;
            height: 8vh;
            width: 40vw;
            padding-bottom: 1%;
            margin: 8% auto;
            justify-content:start;
        }
        .ElementsCont p{
            width: 40vw;
        }
        address{
            width: 50vw;
            padding-left: 5%;
        }   
        .links{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            /*justify-content: space-between;*/
            width: 10vw;
            margin: 0 22%;
        }
        .links img{
            margin: 1% 35%;
            width: 5vw;
        }
        #centrage{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            /*justify-content: center;*/
            width: 10vw;
            margin: 0 0%;
            
        }
        #centrage img{
            margin: 2% 2%;
            width: 3vw;
        }
        
    
}


/*-----Pour tablette portrait et paysage-------------------*/
@media screen and (min-device-width:571px) and (max-device-width:900px){
    .container, .MedianeIetC{
        background: #D1C8C8;
        display: flex;
        padding-left: 0;
        padding-right: 0;
        width: 100vw !important;
    }
    .titulaireFol2{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10vw;
        font-size: 1em;
        margin: 0 auto;
        width: 30vw;
        height: 100vh;
    }
    /*.conAside{
        display: block;
        align-items: center;
        justify-content: space-between;    
    }
    .container1_Cont{
        display: block;    
        width: 100vw;
        /*margin: 2 2 2 2;
        height: fit-content;
        
    }*/
    .TitreTexte{
        font-size: 0.5em;
        text-decoration: none;
        text-align: center;
        padding: 0;
    }
    .TitreTexte2, .TitreTexte3{
        font-size: 0.75em;
        padding-bottom: 0.5%;
    }
    .TitreH_IetC{
        height:8vh;
        background-size:cover;
        width: 100vw;
        margin: 0 auto;
    }
    .TexteMed-Cont{
       /* width: 45vw;*/
       width: 40%;
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        align-items: center;
        justify-content: start;
        font-size: 1em;
        padding-left: 0.5vw;
        margin: 2% 1%;
        height: 70vh;
    }
    .TexteMed-Cont1{
        /* width: 45vw;*/
        width: 40%;
         display: flex;
         flex-wrap: wrap;
         height: fit-content;
         align-items: center;
         justify-content: start;
         font-size: 1em;
         padding-left: 0.5vw;
         margin: 2% 1%;
        height: 70vh;
         background: #BEB7B1;
     }
    .TexteMed-Cont img{
        Width: 34vw;
        height: 28vh;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;

    }
    .texteMed1{
        display: flex;
        flex-direction: column;
        /*background: blue;*/
        font-size: 0.8rem;
        padding-top: 0.5%;
        padding-bottom: 1%;
        font-size: 0.8em;
        width: 45vw;
    
    }
    b, p{
        padding-left: 3%;
        font-size: 1em;
        padding-bottom: 0%;
        padding-top: 0%;
        margin: 0%;
    }
    .ElementsCont img{
        width: 7vw;
        height: 4vh;
        padding-left: 5%;
    }
    .ElementsCont{
        display: flex;
        flex-wrap: wrap;
        height: 1vh;
        width: 55vw;
        padding-bottom: 0%;
        margin: 8% auto;
        justify-content: start;
    }
    address{
        width: 40vw;
        padding-right: 2%;
        height: 25vh;
    }   
    .links{
        display: flex;
        flex-wrap: nowrap;
        /*align-items: center;
        justify-content: center;*/
        width: 10vw;
        margin: 0% 0%;
        padding: 0% 20%;
    }
    #centrage{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        width: 7vw;
        margin: 0 auto;
    }
    .links img{
        width: 7vw;
    }
}    

    