body{
    width:90%;
    background-color: black;
}

.container1{/*----------Page Index ---//--- Aside container*/
    width: 100%;
<<<<<<< HEAD
    background-image: url('/PICS/BckG_GraySmoke.jpg');
=======
    /*height: 170vh;*/
    background-image: url('../PICS/BckG_GraySmoke.jpg');
>>>>>>> 074f3bc528c073c7255e938f6779dd4c9e15182f
    background-repeat: no-repeat;
    background-size: cover;
}
aside{/*---------------Toutes les pages----------------*/
    display: flex;    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgb(32 44 72);
    background-image:url("/PICS/site-portfolio-exemple.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    align-items: center;
    justify-content: center;
    /*font-size: 1em;*/
}
aside a{/*---------------Toutes les pages----------------*/
    font-size: 1.5em !important;
    color: black;
    font-weight: bold;
}
.conAside img{ /*les images de ma div dans la balise Aside*/
    margin-left: 5%;
    width: 90%;
    height: 80%;
}
.TexteLiens{ /*class de mes liens dans Aside*/
    background: #D66262;
    border: 2px ridge;
    border-radius: 5%;
    padding-bottom: 1%;
    margin-top: 2%;
    Margin-bottom: 0%;
    text-align: center;
}
.TitreH{/*---------------Page Index----------------*/
    display: block;
    width: 100%;
    height: 15vh;
    background-image: url("../PICS/DEV-2.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /*font-size: 10px !important;*/
    /*margin-left: 10%;*/
    
}
.TitreTexte{/*---------------Toutes les pages----------------*/
    padding-top: 0%;
    padding-bottom: 2%;
    padding-left: 10%;
    font-size: 1.2em;
    color: #8D4E4E;    
}
.TitreTexte2, .TitreTexte3{/*-------------Toutes les pages----------*/
    color: #9BAC2F;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1em !important;
}
.Mediane{/*------------page Index----------------*/
    width: 100% !important;
    display: Flex;
    flex-wrap: nowrap;
    padding-top: 5%;
    padding-left: 2%;
    justify-content: space-between;
    position: relative;
}

.median{
    width:100%;
    margin: auto 1%;
}

.Mediane2-3{/*------------page Index----------------*/
    display: Flex;
    flex-wrap: nowrap;
    width: 100%;
    padding-top: 2%;
    position: relative;
    padding-bottom: 2%;
}
.Mediane2-3-2{/*------------page Index----------------*/
    display: Flex;
    flex-wrap: nowrap;
    width: 100%;
    padding-top: 1%;
    padding-left: 1%;
    margin: 0% 1%;
    justify-content: space-between;
    position: relative;
    padding-bottom: 2%;
    background-image: url("../PICS/CouleurSympa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.TexteMed{/*------------page Index----------------*/
    position: relative;
    width: 38%;
    display: flex;
    background: #888683;
    opacity: 0.6;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3% 0%;
    /*height: 35vh;*/
    padding: 1% 1%;
}
.Equil{/*---------Page Index------------------*/
    margin-left:24% !important;
    

}
.TexteMed2-3_1{/*------------page Index----------------*/
    position: relative;
    width: 38%;
    display: flex;
    background: #888683;
    flex-wrap: wrap;
    justify-content: space-around;
    /*margin: 0% auto;*/
    height: 4vh;
    color: white;
}
.TexteMed2-1{ /*----Page Index **** style de ma div où j'ai ma pic*/
    position: absolute;
    bottom: 0%;
    left: 20%;
    /* padding-right: 1%;*/
    width: 100%;

}
.TexteMed2-1 img{ /*------Page Index definition de mon image*/
    width: 65%;
    margin: 0;

}  
.TexteMed2-0, .FormTexte{/*------------page Index----------------*/
    padding: 0% 0%;
    width: 100%;
    font-size: 1em !important;
    color: white;
}
.FormTexte{/*------------page Index----------------*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ZonePic4{/*------------page Index----------------*/
    position: relative;
    width: 45%;
    display: flex;
    background:none;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 2%;
    padding: 3%;

}
.SkillsPic1{/*------------page Index----------------*/
width: 10vw;
height: 25vh;
object-fit: cover;
border: ridge white 2mm;
border-style: groove;

border-radius: 10%;
}
figcaption{
    font-weight: bold;
    color: white;
    text-align: center;
}
.SkillsPic21{/*------------page Index----------------*/
    width: 80%;
    height: auto;
    object-fit: cover;
    nmargin: 4% 2%;
    
}
#Office365pic{/*------------page Index----------------*/
    width: 80%;
    height: auto;
}

.AccBG1{
    background-image: url('../PICS/BckG_GraySmoke.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /*display: flex;
    justify-content: space-between;*/
    
}
.AccOrg1, .AccOrg2{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1em;

}
/*-------------------------PAGE HTML-EXPERIENCES---------------------------------*/
.container1_IC{ /*----------Page Exp & Contact *** Aside container*/
    width: 100%;
    height: 190vh;
    background-image: url('../PICS/BckG_GraySmoke.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0% 0%;
}
.MedianeIetC2{/*-----------------Page Expériences---------------*/
    display: Flex;
    flex-wrap: nowrap;
    width: 95%;
    padding-top: 0%;
    margin: 2% auto;
    /*padding-left: 5%;*/
    position: relative;
    background-image: url('../PICS/BckG_GraySmoke.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.2em;
}
.TitreH_IetC{/*-----------------Pages Exp & Contact------------*/
    display: block;
    width: 100%;
    /*height: 25%;*/
    margin-left: 5%;
    background-image: url("../PICS/DEV-2.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /*font-size: 15px;*/
    margin: 0% 0%;
    
}
.titulaireFol2{/*-----------------Pages Exp & Contact------------*/
    display: flex;    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgb(148, 140, 128);
    width: 20%;
   /* align-items: center;
    justify-content: center;*/
    font-size: 1em;
}
.TexteMedExp{/*------------page Expériences----------------*/
    position: relative;
    width: 100%;
    display: flex;
    background: #888683;
    opacity: 0.6;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1% 0%;
    height: 25vh;

}
.corResponsive{/*---------------Page Expériences----------------*/
    margin: 1% 0% !important;  
}
.TexteMed-IetC{/*---------------Page Expériences----------------*/
    position: relative;
    width: 5%;
    display: flex;
    background: #888683;
    opacity: 0.7;
    align-items: center;
    justify-content: center;
    margin: 3% 0%;
    /*height: 26vh;*/
    padding-left: 0%;

}
.icon1{/*---------------Page Expériences----------------*/
    width:2vw;
    height: 6vh;
}
.CorrectionP{/*---------------Page Expériences----------------*/
    margin-top: -1%;
    height: 44vh;

}
.MedianeSKIetC{/*---------------Page Expériences----------------*/
    display: Flex;
    flex-wrap: wrap;
    margin: 0% 1%;
  
}
.skillspart{/*---------------Page Expériences----------------*/
    display: flex;
    flex-direction: column;
    width: 90%;
    background: #888683;
    opacity: 0.6;
    margin: 3% 0%;
    padding: 0% 0%;
    color: white;
    
}
.skillspart strong{/*---------------Page Expériences----------------*/
    padding-top: 4%;
    padding-left: 12%;

}
.TexteMed2{/*----------Page Expériences---------------*/
    width: 90%;
   
}
#Mycolor{/*-----------Page Expériences---***-pour les barre progress-----*/
    background: #222279;
}
/*-------------PAGE CONTACT--------------------------------*/
.container1_Cont{ /*----------Page Contact---//---Aside container--*/
    width: 70%;
    height:fit-content;
    background-image: url('../PICS/BckG_GraySmoke.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.titulaireFol2{
    background-image: url('../PICS/BckG_Road-Trees.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.MedianeIetC{/*-------------------Page Contact--------------------*/
    display: Flex;
    flex-wrap: nowrap;
    width: 100%;
    padding-top: 2%;
    padding-left: 5%;
    margin: 0 0;
    position: relative;
    background-image: url('../PICS/BckG_GraySmoke.jpg');
}
.texteMed1{/*-------------------Toutes les pages--------------------*/
    font-size: 0.75em;
    padding-top: 0%;
    padding-bottom: 0;
    padding-left: 0%;
    width: 100%;
    margin: 0% 0%;
}
.PoliceStyle{/*-----------Page Expériences Non Responsive---------------------*/
    font-size: 0.9em !important;
    color: white;
}
.TexteMed-Cont img{/*-------------------Page Contact--------------------*/
    Width: 80%;
    object-fit: scale-down;
    
}
.TexteMed-Cont{/*-------------------Page Contact--------------------*/
        /* position: relative; */
        width: 48%;
        /* display: inline-block; */
        flex-wrap: nowrap;
        /*background: #BEB7B1;*/
        /* flex-wrap: wrap; */
        /* justify-content: space-between; */
        /* margin: 0%; */
        height: fit-content;
        padding-top: 1% 0%;

}
.TexteMed-Cont1{/*-------------------Page Contact--------------------*/
    position: relative;
    width: 48%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    background: #888683;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    margin: 0% 0%;
    padding: 2% 0%;
    opacity: 0.8;

}
address{/*-------------------Page Contact--------------------*/
    padding: 0% 0%;
    margin: 0% 0%;
}
.texteMed1 p, b, ul, li{/*--------------Page Expériences-------------*/
    Margin: 0% 0%;
    width: 100%;
    font-size: 0.9em;
    padding: 0% 0%;
}

.ElementsCont{
    display: flex;
    flex-wrap: wrap;
    /*height: 8vh;*/
    width: 70%;
    margin: 0% 0%;
    padding: 1% 4%;
}
.ElementsCont img{
    width: 19%;
    height: 20%;
    padding-right: 1.5%;
    object-fit:fill;
}
.email{/*-----------------Page Contact // partie @mail------*/
    text-decoration: none;
    font-weight: bold;
    color: #9BAC2F;
    height: 2vh;   
    padding-bottom: 1px;
}
.links{/*-------------------Page Contact--------------------*/
    display: flex;
    flex-wrap: nowrap;
    height: 4vh;
    padding-left: 15%;
   
}
.links img{/*-------------------Page Contact--------------------*/
    Width: 6vw;
    height: 4vh;
    object-fit:scale-down;           /*Le contenu est dimensionné comme si "none" 
                                    ou "contain" étaient spécifiés, on prend celui qui 
                                    aboutirait à une taille réelle plus petite.*/
    padding: 2% 2%;
}
#centrage{/*-------------------Page Contact--------------------*/
    display: flex;
    /*justify-content: center;*/
    margin-top: 2%;
    padding-bottom: 1%;
}
.Formul-Contact{
    text-align: center;
    margin-bottom: 2%;
}
.Formul-Contact a{
    color: black;
    font-family: fantasy;
}

.larg{
    width: 56vw !important;
   
}
.HBcolor{
    background:rgb(136 71 108) !important;
    color: whitesmoke !important;
    font-size: 1rem;
    font-weight: bold;
    width: 100% !important;
}
/*-----Pour smartphone---------------------------------------*/
@media screen and (max-device-width:400px){

    .container, .MedianeIetC{/*------------Toutes pages // Pages Exp & Contact--------*/
        display: block !important;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        margin: 0 auto;
        font-size: 0.5em;
        background: rgb(29, 29, 29);
    }
    .container1{/*----------------Page Index-------------*/
        width: 100%;
        background-image: url('/PICS/BckG_GraySmoke.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    .titulaireFol{/*-------------Page Index--------------------*/
        width: 100%;
        background-image:url('/PICS/CouleurSympa.jpg');
        margin: 0;
        padding: 0;        

    }
    .Reversive{/*-------------Page Index--------------------*/
        width: 100% !important;
        display: flex;
        flex-direction:column-reverse ;
    }
    .conAside{
        font-size: 0.8em !important;
        display: flex;
        align-items: center;
        justify-content: space-around;    
    }
    .conAside img{/*-------------Page Index--------------------*/
        width: 40vw;
        margin: 2% auto;
    }
    .PoliceIndexTt{/*-------------Page Index--------------------*/
        font-size: 1.5em;
        font-weight: bold;
    }
    .corResponsive{/*---------------Page Expériences----------------*/
        margin: 1% 0%;
    }
    .MedianeIetC2{       /*-------------page Expériences----------*/
        display: flex;
        /*background: red;*/    /*------pour repérer la zone-----*/
        width: 100%;
        height: fit-content;
        margin-bottom: 1%;
        margin-top: 0;
        padding: 0 0;
    }
    .icon1{/*---------------Page Expériences----------------*/
        width:10px;
    }
    .MedianeSKIetC{    /* page Expériences ------ */
        width:95%;
        margin: 0 0;
        padding: 0 0;  
    }
    .TexteMed2{/*---------------Page Expériences----------------*/
        font-size: 8px !important;
    }
    .TexteMed{/*---------------Page Index----------------*/
        margin: 1% 0%;
    }
    .titulaireFol2{/*----------Pages Exp & Contact-------------*/
        display: block;
        width: 100%;
        font-size: 0.9em;
        margin: 0% auto;
    }
    .container1_IC{/*----------Page Exp & Contact *** Aside container*/
        display: block;
        margin: 2% 0%;
        width: 100%;
        /*margin: 2 2 2 2;*/
        height: fit-content;        
    }

    .TexteMed-IetC{/*---------------Page Expériences----------------*/
        width: 7%;
    }
    hr{
        margin: 0 0 !important;
        padding: 0;
        height: 1px !important;
    }
    .CorrectionP {/*---------------Page Expériences----------------*/
        margin-top: 0.5%;
        height: 60vh;
        margin-bottom: 0;
        padding: 0;
    }
    .container1_Cont{/*---------------Page Contact----------------*/
        display: block;
        width: 100%;
        /*margin: 2 2 2 2;*/
        height: fit-content;
        
    }
    .icon1{/*---------------Page Expériences----------------*/
        width: 18px;
        height: 18px;
    }
    .TitreTexte{/*---------------Toutes les pages----------------*/
        font-size: 1.6em !important;
        text-decoration: none;
    }
    .TitreTexte2, .TitreTexte3{/*---------------Toutes les page-s---------------*/
        font-size: 0.7em !important;
        padding-bottom: 1%;
    }
    .TitreH_IetC{/*---------------Les pages Exp & Contact----------------*/
        height:8vh;
        text-align: center;
        justify-self: center;
        background-size:cover;
        width: 100%;
        margin: 0 auto;
    }
    .TexteMed-Cont, .TexteMed-Cont1{/*---------------Page Contact----------------*/
        width:100%;
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        align-items: center;
        margin:0% 0%;
        /*justify-content: center;*/
        /*font-size: 0.8em;*/
    }
    .TexteMed-Cont img{/*---------------Page Contact----------------*/
        Width: 90%;
        /*height: 15vh;*/
        padding-top: 0.5vh;
        margin-bottom: 1%;
        padding: 0 5%;

    }
    .texteMed1{/*-------------------Toutes les pages--------------------*/
        font-size: 0.6rem;
        padding-top: 1%;
        padding-bottom: 2%;
        width: 100%;
        margin: 0% 0%;
    }
    .texteMed1 p, .texteMed1 b .texteMed1 u{/*-------Page Expériences----*/
        font-size: 0.75em;
    }
    .ElementsCont a, p, b, li/*--li de Expériences----*/{
        padding: 0% 0%;
        margin: 0 0;
        font-size: 0.9em;
    }
    .ElementsCont img{/*-------------------Page Contact-------------------*/
        width: 3vw;
        height: 2vh;
        padding: 1% 0%;
        margin: 0 2%;
    }
    .ElementsCont{/*-------------------Page Contact-------------------*/
        display: flex;
        flex-wrap: nowrap;
        height: 10vh;
        margin: 0% 0%;
        /* justify-content: center; */
        padding: 0 0;
        width: 100%;
    }
    address{/*-------------------Page Contact-------------------*/
        width: 100%;
        padding: 0% 2%;
        margin: 0 0;
        font-size: 1em;
    }
    .texteMed1 p{/*-------------------Toutes les pages-------------------*/
        Margin: 0% 1%;
        width:100%;
        /*font-size: 0.8em;*/
        padding: 0 1;
    }
    .links{/*-------------------Page Contact-------------------*/
        display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* margin: 0 auto; */
    padding: 0;
    }
    /*.links img{
        margin: 0% 0%;
        padding: 0;
        width: 5vw;
        object-fit:contain;
        flex-grow: 1;
    }*/
    #centrage{/*-------------------Page Contact-------------------*/
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        /*width: 0vw;*/
        /*margin: 0 auto;*/
    }
    .Mediane2-3-2{/*---------------------Page index------------*/
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
    }
    .min768{
        display: flex;
    }
    .ZonePic4{
        width: 100%;
            padding: 0;
            margin: 0;
            background: none;
    }
    figcaption{
        font-size: 1.8em;
    }
    .SkillsPic1{/*---------------------Page index------------*/
        width: 85%;
        object-fit: cover;
        border: ridge white 3px;
        border-radius: 10%;
    }
    .SkillsPic21{/*---------------------Page index------------*/
        width: 95%;
        height: auto;
        /*object-fit: scale-down;*/
        justify-content: scale-domwn;
        margin: 2% 0%   ;
    }
    #Office365pic{
        width: 100%;
    }
}

@media screen and (min-device-width:401px) and (max-device-width:570px){

        .container, .MedianeIetC{/*------------Toutes pages // Pages Exp & Contact--------*/
            /*
            background-image: url('/PICS/BckG_GraySmoke.jpg');
            */
            display: block !important;
            margin: 0% auto;
            width: 90%;
        }
        .container1{/*----------------Page Index-------------*/
            width: 100%;
        }
        .CDAmedian{/*----------------Page Index-------------*/
            font-size: 1em;
        }
        .InfosPerso{/*----------------Page Index-------------*/
            font-size: 0.6em;
        }
        .titulaireFol{/*-------------Page Index--------------------*/
            width: 100%;
            background-image:url('/PICS/CouleurSympa.jpg');
            

        }
        .Reversive{/*-------------Page Index--------------------*/
            width: 100% !important;
            display: flex;
            flex-direction:column-reverse ;
        }
        .conAside img{/*-------------Page Index--------------------*/
            width: 40vw;
            padding: 2% 2%;
        }
        .container1_IC{/*----------Page Exp & Contact *** Aside container*/
            display: block;
            margin: 1% 0%;
            width: 100%;
            /*margin: 2 2 2 2;*/
            height: fit-content;
            font-size: 0.9em;        
        }
        .Mediane{/*-------------Page Index--------------------*/
            font-size: 0.73em;
            margin-bottom:4% ;
            margin-left: auto;
            margin-right: auto;
        }
        
        .Mediane2-3-2 {/*-----
            --------Page Index--------------------*/
            
            
            display: Flex;
            flex-wrap: wrap;
            width: 90%;
            padding-top: 1%;
            padding-left: 0%;
            /*margin: 0% auto;*/
            justify-content: space-between;
            position: relative;
            padding-bottom: 2%;
            background-image: url('/PICS/CouleurSympa.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .TexteMed2-1 img{ /*------Page Index--\\--definition de mon image*/
            width: 80%;
            /*height: 75%;*/
            object-fit: scale-down;
            left:15%;       
        }
        .MedianeIetC2{/*-------------de la page Expériences----------*/
            display: flex;
            /*background: blue;*/
            height: fit-content;
            width: 100%;
    
        }
        .MedianeSKIetC{/*--------Page Expériences-------*/
            width: 180%;
            margin: 1% 1%;
        }
        .skillspart{/*-------------de la page Expériences----------*/
            display: flex;
            flex-direction: column;
            width: 50%;
            background: #888683;
            opacity: 0.6;
            margin: 1% 0%;
            padding: 0% 0%;
            color: white;            
        }
        .TexteMed-IetC{
            margin: 1% 0%;
        }
        .CorrectionP {/*-------------de la page Expériences----------*/
            margin-top: 0%;
            /*height: 50vh;*/
        }
        .icon1{
            width: 19px;
            height: 20px;
    
        }
        .titulaireFol2{
            display: block;
            width: 100%;
            font-size: 0.8em;
            margin: 0 auto;
            width: 100%;
        }
        .conAside{
            font-size: 0.8em !important;
            display: flex;
            align-items: center;
            justify-content: space-around;    
        }
        .container1_Cont{/*-----------Page Contact--------------*/
            display: block;    
            width: 100%;
            /*margin: 2 2 2 2;*/
            height: fit-content;            
        }
        .TitreH_IetC{
            text-align: center;
            font-size: 0.75em !important;
            height: 12vh;
        }
        .TitreTexte2 b{
            /*padding: 0% 40% !important;*/
            margin: 0;
            padding: 0;
        }
        .TexteMed-Cont{/*-------------Pour page contact---------------*/
            width:100%;
            display: flex;
            flex-wrap: nowrap;
            height: fit-content;
            align-items: center;
            justify-content: center;
            margin-bottom: 2%;
        }
        .TexteMed-Cont1{
            border-top: ridge gray 4px;
            width:100%;
            display: flex;
            flex-wrap: wrap;
            height: fit-content;
            margin: 1% 0% ;
            /*align-items: center;*/
            /*justify-content: center;*/
        }        
        .texteMed1{/*-----Attention page Expériences concernée----*/
            font-size: 0.73rem;
            padding-top:0%;
            padding-bottom: 2%;
            margin-bottom: 3%;
        }        
        .texteMed1 p{/*-----Attention page Expériences concernée----*/
            font-size: 0.73em;
            width: 100%;
        }
        .texteMed1 b{/*-----Attention page Expériences concernée----*/
            padding-left:1%;
            font-size: 0.73em;
        }
        .texteMed1 li, ul{/*----------Page Expériences uniquement---------*/
            font-size: 0.9em;
            width: 100%;
        }
        .PoliceStyle{/*---------------Page Expériences------------------*/
            font-size: 0.80em !important;
        }
        hr{
            margin:0 0 !important;
            padding: 0 0 !important;
            height: 1px !important;
        }
        .ElementsCont img{/*------------page Contact  --------*/
            width: 7vw;
            height: 3vh;
            padding-left: 5%;
        }
        .ElementsCont{/*------------page Contact  --------*/
            display: flex;
            flex-wrap: nowrap;
            height: 8vh;
            width: 100%;
            padding-bottom: 1%;
            margin: 8% auto;
            justify-content:start;
        }
        .ElementsCont p a b {/*------------page Contact  --------*/
            width: 100%;
        }
        address{                /*------------page Contact  --------*/
            width: 100%;
            padding-left: 2%;
        }   
        .links{                /*------------page Contact  --------*/
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            /*justify-content: space-between;*/
            width: 10vw;
            margin: 0 21%;
        }
        .links img{/*------------page Contact  --------*/
            margin: 0% 45%;
            width: 5vw;
            object-fit:contain;
        }
        #centrage{/*------------page Contact  --------*/
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            /*justify-content: center;*/
            width: 10vw;
            margin: 0 0%;
            
        }
        #centrage img{/*------------page Contact  --------*/
            width: 6vw;            
            object-fit: contain;
        }
        .ZonePic4{/*---------------------Page index------------*/
            width: 100%;
            padding: 0;
            margin: 0;
            background: none;
        }
        figcaption{/*---------------------Page index------------*/
            font-size: 1em;
        }    
        .SkillsPic1{/*---------------------Page index------------*/
            width: 90%;
        object-fit: cover;
        border: ridge white 3px;
        border-radius: 10%;
        }
        .SkillsPic21{/*---------------------Page index------------*/
            width: 80%;
            height: auto;
            margin-bottom: 1%;
            /*object-fit: scale-down;*/
        }
        #Office365pic{/*---------------------Page index------------*/
            width: 80%;
            height: auto;
        }
             
    
}

/*-----Pour tablette portrait et paysage-------------------*/
@media screen and (min-device-width:571px) and (max-device-width:1420px){
    
    .container{/*---------------Toutes les pages----------*/
        background-image: url('../PICS/BckG_GraySmoke.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-wrap: wrap !important;
        padding-left: 0;
        padding-right: 0;
        width: 100% !important;
        height: fit-content;
        justify-content: center !important;
    }
    .container1{/*----------Page Index ------------------ */
        height: fit-content;
    }
    .MedianeIetC{/*------------Page Contact----------------*/
        /*background: #87817C;*/
        margin: 0% 2%;
        width:95%;
        display: block;
        margin: 0 1%;

    }
    .MedianeIetC2{/*------------Page Expériences----------------*/
        /*background: #888683;*/
        margin:0% 0%;
        width:95%;
        display: flex;
        margin: 0 1%;
    }
    hr{
        margin:0 !important;
    }
    .titulaireFol{/*---------------Pages Exp & Contact----------*/
    width: 100%;
    background-image:url('/PICS/CouleurSympa.jpg');
    }    
    .titulaireFol2{/*---------------Pages Exp & Contact----------*/
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4em;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin: 0 auto;
        width: 30vw;
        /*height: 55vh;*/
        background-image: url('../PICS/BckG_Road-Trees.jpg');
        background-size: cover;
    }
    .TitreTexte{
        font-size: 0.9em;
        text-decoration: none;
        text-align: center;
        padding: 0;
    }
    .TitreTexte2, .TitreTexte3{
        /*font-size: 2.75em;*/
        padding-bottom: 0.5%;
    }
    .TitreH_IetC{
        height:14vh;
        width: 100%;
        margin: 0 auto;
    }
    .CorrectionP{/*--------Page Expérience-------*/
        margin: 1% 0%;
        height: 50vh;
    }
    .TexteMed-Cont{/*-----------Page Contact------*/
        background: #635d58;
        width: 95%;                  /*40% de son parent MedianeIetC*/
        /*height: 70vh;*/           /* Pas nécessaire la photo prend la place nécessaire*/
        display: flex;
        flex-wrap: wrap;
        padding: 0% 2%;
        justify-content: center;
    }
    .TexteMed-Cont1{/*-----------Page Contact------*/        
        /* width: 45vw;*/
         width: 95%;
         display: flex;
         flex-wrap: wrap;
         height: fit-content;
         align-items: center;
         justify-content: start;
         font-size: 1em;
         margin: 5% 0%;
        /*height: 70vh;*/
        background: #635d58;
     }
    .TexteMed-Cont img{/*-----------Page Contact------*/
        Width: 80%;
        /*height: 28vh;*/
        object-fit: scale-down;
        padding-top: 2%;
        padding-bottom: 2%;

    }
    .texteMed1{/*-----Attention page Expériences concernée----*/
        display: flex;
        flex-direction: column;
        /*background: blue;*/
        /*padding-top: 0.5%;
        padding-left: 2%;
        padding-bottom: 1%;*/
        width: 45vw;
        margin: 0% 1%;
        font-size: 0.9em;
    
    }
    .texteMed1 p, li{/*-----Attention page Expériences concernée----*/
        font-size: 0.7em;
    }
    /*.Mediane2-3{/*-----------Page Index------------------*/
    /*    padding-left: 10%;
    }*/
    .TexteMed2-3_1{/*----------Page Index--------------*/
        width: 38%;
        font-size: 1em;
        /*margin: 0% 0%;*/
    }
    .Equil{/*-----------Page Index------------------*/
        margin-left: 0%;
    }
    .PoliceStyle{/*---------------Page Expériences------------------*/
        font-size: 1em !important;
    }
    .skillspart {/*--------Page Expériences-------*/
        display: flex;
        flex-direction: column;
        width: 87%;
        background: #888683;
        opacity: 0.6;
        margin: 1% 0%;
        padding: 0% 0%;
        color: white;
    }
    .TexteMedExp{
        width: 90%;
    }
    .icon1{/*--------Page Expériences-------*/
        width: 28px;
        height: 24px;
    }
    .texteMed3{/*-----------Page Index--------*/
            font-size: 0.75em;
    }
    .Mediane2-3-2{/*-----------Page Index--------*/
        width: 90%;
        margin: 2% auto;
        padding: 0;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        background-image: url('/PICS/CouleurSympa.jpg');
        background-repeat: no-repeat; 
    }
    .ZonePic4{/*---------------------Page index------------*/
        width:80%;
        display: flex;
        flex-wrap: nowrap;
        min-height:85vh ;
        background: none;
        margin: 0 auto;
        padding: 0;    
    }
    .SkillsPic1{/*---------------------Page index------------*/
        width: 95%;
        object-fit: cover;
        /*height: auto;*/
    }
    .SkillsPic21{/*---------------------Page index------------*/
        max-width: 85%;
        object-fit: cover;
        height: auto;
        margin: 1% 2%;
    }
    #Office365pic{/*---------------------Page index------------*/
        max-width: 85%;
        height:auto;
    }
    .TexteMed2-0 {
        height: fit-content;
        position: relative;
    }
    .TexteMed2-1 img{ /*------Page Index--\\--definition de mon image*/
        width: 65%;
        /*height: 75%;*/
        object-fit: scale-down;
        left:30%;    
    } 
    .TexteMed-IetC {/*--------Page Contact-------*/
        position: relative;
        width: 10%;
        display: flex;
        background: #888683;
        opacity: 0.7;
        align-items: center;
        justify-content: center;
        margin: 1% 0%;
        /* height: 26vh; */
        padding-left: 0%;
    }
    .ElementsCont b, p{/*--------Page Contact-------*/
        padding-left: 3%;
        font-size: 1em;
        padding-bottom: 0%;
        padding-top: 0%;
        margin: 0% 0%;
        width: 100%;
    }
    .ElementsCont img{/*--------Page Contact-------*/
        width: 48px;
        height: 20px;
        padding-left: 5%;
    }
    .ElementsCont{/*--------Page Contact-------*/
        display: flex;
        flex-wrap: nowrap;
        height: 1vh;
        width: 100%;
        padding-bottom: 0%;
        margin: 8% 1%;
        justify-content: start;
    }
    address{/*--------Page Contact-------*/
        width: 100%;
        padding-right: 2%;
        /*height: 10vh;*/
    }   
    .links{/*--------Page Contact-------*/
        display: flex;
        flex-wrap: nowrap;
        /*align-items: center;
        justify-content: center;*/
        width: 10vw;
        margin: 0% 30%;
        padding: 0% 0%;
    }
    #centrage{/*--------Page Contact-------*/
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        width: 10vw;
        margin: 0px -8px;
        padding: 0px;
    }
    #centrage img{/*--------Page Contact-------*/
        width: 7vw;
        padding: 0 0%;
        margin: 0;
    }
    .FormTexte{/*---------------------Page index------------*/
        font-size: 0.9em !important;
    }
    .MiseEnForme{
        min-height: 25vh;
        font-size: 0.9em;
    }
    .conAside {
        width:100%;
        justify-content: center;
    }
    .conAside img{
        width:200px;
        margin: auto 35%;
    }
}    

    